@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.diapo {
  position: relative;
  &-image {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
    @media (max-width: $medium) {
      width: 335px;
      height: 255px;
      border-radius: 10px;
    }
  }
  &-arrows {
    font-size: 70px;
    cursor: pointer;
    color: $color-secondary;
    @media (max-width: $medium) {
      font-size: 24px;
    }
    &__left {
      @include arrow-position;
      left: 30px;
      @media (max-width: $medium) {
        left: 10px;
      }
    }
    &__right {
      @include arrow-position;
      right: 30px;
      @media (max-width: $medium) {
        right: 10px;
      }
    }
  }
  &-numeration {
    color: $color-secondary;
    @include font-medium;
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left: 610px;
    @media (max-width: $medium) {
      display: none;
    }
  }
}
