@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.rating {
  padding-top: 21px;
  @include flex-row;
  gap: 10px;
  &__star {
    font-size: 22px;
    &--active {
      color: $color-primary;
    }
    &--inactive {
      color: $star-color;
    }
  }
}
