@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.logement {
  &-collapse {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    .collapse {
      width: 47%;
    }
  }
}
