@import '../../utils/variables.scss';

.main-container {
  margin: 0 auto;
  width: 1240px;
  .cards {
    border-radius: 25px;
    background-color: $bg-color-primary;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    padding: 48px 20px;
    margin: 50px 0;
  }
}
