.card {
  position: relative;
  @include flex-row;
  justify-content: center;
  &__image {
    border-radius: 10px;
    width: 340px;
    height: 330px;
    object-fit: cover;
  }
  &__title {
    @include font-medium;
    font-size: 18px;
    color: $color-secondary;
    width: 200px;
    position: absolute;
    bottom: 15px;
    left: 50px;
  }
}
