@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.card {
  position: relative;
  @include flex-row;
  justify-content: center;
  &::before {
    @include psy-before;
    @include card-size;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  &__image {
    @include card-size;
    object-fit: cover;
  }
  &__title {
    @include font-medium;
    font-size: 18px;
    color: $color-secondary;
    width: 200px;
    position: absolute;
    bottom: 15px;
    left: 50px;
    @media (max-width: $medium) {
      width: 170px;
      left: 20px;
    }
  }
}
