@keyframes rotateDown {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotateUp {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes openMode {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes closeMode {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}

.rotateDown {
  animation: rotateDown $anim-dur ease-in-out both;
}

.rotateUp {
  animation: rotateUp $anim-dur ease-in-out both;
}

.openMode {
  transform-origin: top;
  animation: openMode $anim-dur ease-in-out both;
}

.closeMode {
  transform-origin: bottom;
  animation: closeMode $anim-dur ease-in-out both;
}

.collapse {
  @include flex-column;
  gap: 30px;
  margin: 0 auto;
  padding: 38px 0;
  width: 80%;
  &-item {
    &__title {
      border-radius: 5px;
      padding: 8px 15px;
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      @include font-medium;
      font-size: 18px;
      color: white;
      background: $color-primary;
      &--icon {
        font-size: 25px;
        cursor: pointer;
      }
    }
    &__text {
      background: $bg-color-primary;
      @include font-regular;
      color: $color-primary;
      border-radius: 5px;
      padding: 20px;
      line-height: 142%;
    }
  }
}
