@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.header {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px 50px;
  @media (max-width: $medium) {
    padding: 20px 20px 27px;
  }
  img {
    @media (max-width: $medium) {
      width: 145px;
    }
  }
  &__nav {
    @include font-medium;
    display: flex;
    gap: 57px;
    color: $color-primary;
    a {
      @media (max-width: $medium) {
        text-transform: uppercase;
      }
    }
    a:hover {
      text-decoration: underline;
    }
    @media (max-width: $medium) {
      font-size: 12px;
      gap: 26px;
    }
  }
}
