@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin font-medium {
  font: {
    size: 24px;
    weight: 500;
  }
}

@mixin font-regular {
  font: {
    size: 18px;
    weight: 400;
  }
}

@mixin card-size {
  width: 340px;
  height: 330px;
  border-radius: 10px;
}

@mixin banner-size {
  width: 1240px;
  height: 223px;
  border-radius: 25px;
}

@mixin psy-before {
  content: '';
  position: absolute;
}

@mixin arrow-position {
  position: absolute;
  top: 165px;
}
