@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.footer {
  @include flex-column;
  background-color: $bg-color-footer;
  align-items: center;
  padding: 66px 0 29px;
  gap: 35px;
  &__logo {
    width: 122px;
  }
  &__text {
    color: $color-secondary;
    @include font-medium;
  }
}
